# dependencies
node_modules/

# environment
.env

# production
frontend/build

# misc
.DS_Store
*.log
npm-debug.log*

# uploads
backend/uploads/avatars/*
backend/uploads/documents/*
!backend/uploads/avatars/.gitkeep
!backend/uploads/documents/.gitkeep

# IDE
.idea/
.vscode/

# Claude
.claude/
